<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script>
        $('a').click(function(e) {
            e.preventDefault();  
            window.location.href = 'C:\/Users\/ASUS\/go\/src\/exercise\/eaciit\/views\/public\/file\/upload\/20180110152517_a.jpg';
        });
      </script>
    </head>
    <body>
        <p id="response"></p>
        <a href="20180110152517_a.jpg">C:/Users/ASUS/go/src/exercise/eaciit/views/public/file/upload/20180110152517_a.jpg</a>
    </body>
</html>